parameters:
	ignoreErrors:
		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: boot.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 1
			path: boot.php

		-
			message: "#^Access to an undefined property rex_ycom_user\\:\\:\\$password\\.$#"
			count: 1
			path: lib/ycom_user.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 2
			path: plugins/auth/boot.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 1
			path: plugins/auth/boot.php

		-
			message: "#^Offset 'referer' does not exist on array\\('redirect' \\=\\> '', 'filter' \\=\\> array\\('status \\> 0'\\)\\)\\.$#"
			count: 1
			path: plugins/auth/lib/ycom_auth.php

		-
			message: "#^Call to static method getFullUrlByArticleId\\(\\) on an unknown class rex_yrewrite\\.$#"
			count: 1
			path: plugins/auth/lib/ycom_auth.php

		-
			message: "#^Offset 'loginName' does not exist on array\\('redirect' \\=\\> string, 'filter' \\=\\> array\\('status \\> 0'\\), \\?'referer' \\=\\> mixed\\)\\|array\\(\\?'returnTo' \\=\\> mixed, 'redirect' \\=\\> string\\)\\.$#"
			count: 1
			path: plugins/auth/lib/ycom_auth.php

		-
			message: "#^Offset 'loginStay' does not exist on array\\('redirect' \\=\\> string, 'filter' \\=\\> array\\('status \\> 0'\\), \\?'referer' \\=\\> mixed\\)\\|array\\(\\?'returnTo' \\=\\> mixed, 'redirect' \\=\\> string\\)\\.$#"
			count: 1
			path: plugins/auth/lib/ycom_auth.php

		-
			message: "#^Offset 'referer' does not exist on array\\('redirect' \\=\\> string, 'filter' \\=\\> array\\('status \\> 0'\\), \\?'referer' \\=\\> mixed\\)\\|array\\(\\?'returnTo' \\=\\> mixed, 'redirect' \\=\\> string\\)\\.$#"
			count: 1
			path: plugins/auth/lib/ycom_auth.php

		-
			message: "#^Access to private property \\$id of parent class rex_yform_manager_dataset\\.$#"
			count: 1
			path: plugins/auth/lib/ycom_auth.php

		-
			message: "#^Access to an undefined property rex_ycom_user\\:\\:\\$login_tries\\.$#"
			count: 1
			path: plugins/auth/lib/ycom_auth.php

		-
			message: "#^Access to an undefined property rex_yform_manager_dataset\\:\\:\\$password\\.$#"
			count: 1
			path: plugins/auth/lib/ycom_auth.php

		-
			message: "#^Call to static method getDomains\\(\\) on an unknown class rex_yrewrite\\.$#"
			count: 2
			path: plugins/auth/lib/ycom_auth.php

		-
			message: "#^Call to static method isHttps\\(\\) on an unknown class rex_yrewrite\\.$#"
			count: 1
			path: plugins/auth/lib/ycom_auth.php

		-
			message: "#^Call to static method getFullPath\\(\\) on an unknown class rex_yrewrite\\.$#"
			count: 1
			path: plugins/auth/lib/ycom_auth.php

		-
			message: "#^Access to an undefined property rex_ycom_auth_rules\\:\\:\\$rules\\.$#"
			count: 3
			path: plugins/auth/lib/ycom_auth_rules.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 2
			path: plugins/auth/lib/ycom_auth_rules.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: plugins/auth/lib/yform/action/ycom_auth_db.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: plugins/auth/lib/yform/action/ycom_auth_db.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 2
			path: plugins/auth/lib/yform/value/ycom_auth_oauth2.php

		-
			message: "#^Call to static method getFullUrlByArticleId\\(\\) on an unknown class rex_yrewrite\\.$#"
			count: 1
			path: plugins/auth/lib/yform/value/ycom_auth_oauth2.php

		-
			message: "#^Parameter \\#1 \\$token of method League\\\\OAuth2\\\\Client\\\\Provider\\\\AbstractProvider\\:\\:getResourceOwner\\(\\) expects League\\\\OAuth2\\\\Client\\\\Token\\\\AccessToken, League\\\\OAuth2\\\\Client\\\\Token\\\\AccessTokenInterface given\\.$#"
			count: 1
			path: plugins/auth/lib/yform/value/ycom_auth_oauth2.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 5
			path: plugins/auth/lib/yform/value/ycom_auth_saml.php

		-
			message: "#^Call to static method getFullUrlByArticleId\\(\\) on an unknown class rex_yrewrite\\.$#"
			count: 5
			path: plugins/auth/lib/yform/value/ycom_auth_saml.php

		-
			message: "#^Undefined variable\\: \\$settings$#"
			count: 8
			path: plugins/auth/lib/yform/value/ycom_auth_cas.php

		-
			message: "#^Call to static method getFullUrlByArticleId\\(\\) on an unknown class rex_yrewrite\\.$#"
			count: 1
			path: plugins/auth/lib/yform/value/ycom_auth_cas.php

		-
			message: "#^Variable \\$params might not be defined\\.$#"
			count: 3
			path: plugins/auth/pages/content.ycom_auth.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 54
			path: plugins/auth/pages/settings.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 1
			path: plugins/auth/update.php

		-
			message: "#^Variable \\$name might not be defined\\.$#"
			count: 1
			path: plugins/auth/ytemplates/bootstrap/value.ycom_auth_extern.tpl.php

		-
			message: "#^Variable \\$url might not be defined\\.$#"
			count: 1
			path: plugins/auth/ytemplates/bootstrap/value.ycom_auth_extern.tpl.php

		-
			message: "#^Variable \\$name might not be defined\\.$#"
			count: 1
			path: plugins/auth/ytemplates/bootstrap/value.ycom_auth_saml.tpl.php

		-
			message: "#^Variable \\$url might not be defined\\.$#"
			count: 1
			path: plugins/auth/ytemplates/bootstrap/value.ycom_auth_saml.tpl.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 13
			path: plugins/auth/ytemplates/bootstrap/value.ycom_password.tpl.php

		-
			message: "#^Call to an undefined method object\\:\\:getId\\(\\)\\.$#"
			count: 1
			path: plugins/auth/ytemplates/bootstrap/value.ycom_password.tpl.php

		-
			message: "#^Variable \\$script might not be defined\\.$#"
			count: 1
			path: plugins/auth/ytemplates/bootstrap/value.ycom_password.tpl.php

		-
			message: "#^Variable \\$rules might not be defined\\.$#"
			count: 1
			path: plugins/auth/ytemplates/bootstrap/value.ycom_password.tpl.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 1
			path: plugins/docs/boot.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 1
			path: plugins/group/update.php

		-
			message: "#^Static method rex_ycom_media_auth\\:\\:checkPerm\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: plugins/media_auth/boot.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: plugins/media_auth/boot.php

		-
			message: "#^Variable \\$ycom_group_default might not be defined\\.$#"
			count: 2
			path: plugins/media_auth/boot.php

		-
			message: "#^Variable \\$ycom_groups_default might not be defined\\.$#"
			count: 2
			path: plugins/media_auth/boot.php

		-
			message: "#^Access to an undefined property rex_ycom_media_auth_rules\\:\\:\\$rules\\.$#"
			count: 3
			path: plugins/media_auth/lib/ycom_media_auth_rules.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 7
			path: plugins/media_auth/pages/settings.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 1
			path: plugins/media_auth/update.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 1
			path: uninstall.php

