includes:
	- phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - boot.php
        - install.php
        - uninstall.php
        - update.php
        - lib/
        - plugins/
    excludes_analyse: # ignore committed vendors
        - */vendor/*
        
