RewriteEngine On
RewriteBase /

### DO NOT REMOVE THE FOLLOWING "MEDIACCESS" DELIMITERS!
### MEDIAACCESS
RewriteCond %{REQUEST_URI} !files/.*/.*
RewriteCond %{REQUEST_URI} !files/(.*).(jpeg|jpg|png|gif|ico|css|js|swf)$
RewriteRule ^(.*):SSL$ https://%{HTTP_HOST}/?rex_com_auth_media_filename=$1 [R=301,L]
RewriteRule ^(.*):NOSSL$ http://%{HTTP_HOST}/?rex_com_auth_media_filename=$1 [R=301,L]
### /MEDIAACCESS